@import "tailwindcss";
.glass-card {
  @apply bg-white/70 backdrop-blur-xl p-5 rounded-2xl shadow-md border border-gray-200;
}

.card-header {
  @apply flex items-center gap-3 text-indigo-600 text-lg font-semibold mb-3;
}

.card-value {
  @apply text-2xl font-bold text-gray-900 mt-2;
}
